/* Decendent Selector */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #212121;
  margin: 0;
  padding: 20px;
}

input, button {
  padding: 12px;
  font-size: 3rem;
}

section p {
  color: red;
}

section > p {
  color: goldenrod;
}

div ~ p {
  text-decoration: underline;
}

p:first-child {
  color: blue;
}

p:last-child {
  color: aqua;
}

span:first-of-type {
  padding: 20px;
  background-color: limegreen;
}

span:last-of-type {
  padding: 20px;
  background-color: gainsboro;
}

p + div {
  border: 4px dotted blue;
}

input {
  outline: none;
}

input:invalid,
input:invalid:focus {
  background: lightpink;
  border: 2px solid darkred;
}

input:invalid + span::after {
  content: "You need at least four characters";
  display: block;
  height: 32px;
  width: 100%;
  font-size: 20px;
  padding: 8px 0;
  color: darkred;
}

input:valid,
input:valid:focus {
  background: yellowgreen;
  border: 2px solid darkgreen;
}

input:valid + span::after {
  content: "You have the right amount of characters";
  display: block;
  height: 32px;
  width: 100%;
  font-size: 20px;
  padding: 8px 0;
  color: darkgreen;
}
